.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

body {
  display: flex;
  flex-wrap: wrap;
}


#filterMenu {
  width: 20vw;
  height: 100vh;
  background-color: #A9A9A9;
  margin-top:-20px;
}

#searchField {
  width: 68%;
}

#resetFilters{
  width: 30%;
}

#map {
  width: 79vw;
  height: 100vh;
}

#listedLocations li{
  list-style: none;
  padding: 7px;
}

#hamburgerMenu div{
  width: 30px;
  height: 5px;
  background-color: black;
  margin: 4px 0;
}

#hamburgerMenu {
  display: none;
}

#closeButton {
  display: none;
}

@media screen and (max-width: 450px) {
  #hamburgerMenu {
    display: block;
    float: left;
    height: 15px;
    position: relative;
    margin-top: 0;
  }

  #filterMenu {
    display: none;
  }

  #filterMenu.open {
    float: none;
    display: block;
    position: absolute;
    text-align: left;
    margin-top: 30px;
    left: 0;
    z-index: 175;
    width: 50vw;
    opacity: 0.9;
  }

  #map {
    position: relative;
  }

  #closeButton {
    display: block;
    float: right;
    background-color: #A9A9A9;
    font-size: 12px;

  }
}

